body {
  font-family: Helvetica, Roboto, Arial, sans; }

html, body, section, form, nav, ul {
  display: block;
  margin: 0;
  padding: 0; }

.wrap {
  width: 90%;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  display: block;
  height: auto;
  overflow: hidden; }

video {
  display: block; }

/* For IE9 */
a img {
  border: none; }

/* For Chrome & Firefox */
*:focus {
  outline: 0; }

textarea:focus, input:focus {
  outline: 0; }

a:hover, a:active, a:focus {
  outline: 0; }

p {
  line-height: 125%; }

.header-wrapper {
  max-width: 800px;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .header-wrapper {
      width: 90%;
      padding: 10px 5%; } }

.section-wrapper {
  max-width: 800px;
  width: 90%;
  padding: 60px 5%;
  overflow: hidden;
  margin: 0 auto; }

section:nth-child(even) {
  background: #f5c17e; }

header {
  transition: box-shadow 0.33s linear;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  background: #fff;
  border-bottom: 1px solid #515151;
  text-align: center;
  top: 0;
  padding: 10px 0;
  width: 100%; }
  @media (min-width: 768px) {
    header {
      padding: 10px 5%;
      width: 90%; } }
  header h1 {
    display: block;
    margin: 0; }
    @media (min-width: 768px) {
      header h1 {
        float: left;
        display: inline-block; } }
    header h1 img {
      max-width: 250px;
      width: 100%;
      height: auto; }
  header ul {
    margin: 5px auto 0 auto;
    list-style-type: none;
    overflow: hidden; }
    @media (min-width: 768px) {
      header ul {
        float: right; } }
    header ul li {
      display: inline-block;
      padding: 0 3px; }
      @media (min-width: 768px) {
        header ul li {
          padding: 0 10px; } }

#hero {
  margin-top: 80px; }
  #hero .definition {
    text-align: left; }
    #hero .definition h2 {
      color: #515151; }
    #hero .definition p {
      line-height: 150%;
      text-align: left; }
    #hero .definition ol {
      font-size: 1.15em;
      line-height: 150%;
      text-align: left;
      margin: 0 0 0 20px;
      padding: 0; }
      #hero .definition ol li {
        margin: 0;
        padding: 0 0 20px 0; }

#services {
  text-align: center; }
  #services h2 {
    margin-bottom: 50px; }
  #services ul {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    text-align: left; }
    #services ul li:nth-child(odd) {
      padding-right: 0; }
      @media (min-width: 768px) {
        #services ul li:nth-child(odd) {
          padding-right: 6%; } }
    #services ul li {
      width: 100%;
      display: inline-block;
      float: left;
      text-align: left;
      padding: 0 0 50px 0; }
      @media (min-width: 768px) {
        #services ul li {
          width: 47%; } }
      #services ul li h3 {
        margin: 10px 0 0 0;
        color: #515151; }
      #services ul li img {
        width: 75px;
        height: 75px;
        float: left;
        padding: 0 20px 0 0; }
        @media (min-width: 768px) {
          #services ul li img {
            width: 100px;
            height: 100px; } }
      #services ul li p {
        margin: 0; }

#bio {
  text-align: center; }
  #bio .bio-container {
    padding: 20px 0;
    overflow: hidden;
    text-align: center; }
    @media (min-width: 768px) {
      #bio .bio-container {
        text-align: left; } }
    #bio .bio-container .bio-container-left {
      text-align: center;
      display: inline-block;
      width: 100%;
      float: initial; }
      @media (min-width: 768px) {
        #bio .bio-container .bio-container-left {
          width: 30%;
          float: left; } }
      #bio .bio-container .bio-container-left img {
        width: 100%;
        max-width: 150px;
        height: auto;
        border-radius: 100px; }
    #bio .bio-container .bio-container-right {
      display: inline-block;
      width: 100%;
      float: initial; }
      @media (min-width: 768px) {
        #bio .bio-container .bio-container-right {
          width: 70%;
          float: left; } }
      #bio .bio-container .bio-container-right h3 {
        text-align: center;
        color: #515151; }
        @media (min-width: 768px) {
          #bio .bio-container .bio-container-right h3 {
            text-align: left; } }
      #bio .bio-container .bio-container-right p {
        display: inline-block;
        text-align: left;
        width: 100%;
        line-height: 150%; }
      #bio .bio-container .bio-container-right .fa {
        font-size: 32px;
        color: #515151; }

#nonprofits p, #contact p, #mission p {
  line-height: 150%; }
#nonprofits ol, #nonprofits ul, #contact ol, #contact ul, #mission ol, #mission ul {
  line-height: 150%;
  text-align: left;
  margin: 0 0 0 20px;
  padding: 0; }
  #nonprofits ol li, #nonprofits ul li, #contact ol li, #contact ul li, #mission ol li, #mission ul li {
    margin: 0;
    padding: 0 0 20px 0; }

#footer {
  text-align: center; }
  #footer .footer-left {
    text-align: left;
    width: 100%;
    float: left;
    padding: 0 0 20px 0; }
    @media (min-width: 768px) {
      #footer .footer-left {
        width: 50%; } }
    #footer .footer-left select, #footer .footer-left textarea, #footer .footer-left input {
      width: 90%;
      max-width: 600px;
      min-height: 35px;
      border: 1px solid #000;
      margin: 0 0 10px 0;
      resize: none;
      display: block;
      float: left; }
  #footer .footer-right {
    width: 100%;
    float: left;
    padding: 0 0 20px 0; }
    @media (min-width: 768px) {
      #footer .footer-right {
        text-align: left; } }
    @media (min-width: 768px) {
      #footer .footer-right {
        width: 50%; } }
  #footer .fa {
    font-size: 32px;
    color: #515151; }

#quote {
  text-align: center; }
  #quote .message {
    width: 100%;
    font-style: italic; }

#iframeform {
  background: #f5c17e; }
  #iframeform label {
    display: block; }
  #iframeform input, #iframeform textarea {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 10px; }

/*# sourceMappingURL=styles.css.map */
