// Settings – font, colors definitions, etc.
@import "_partials/ui";

//Tools – globally used mixins and functions
@import "_partials/mixins";

//Generic – reset and/or normalize styles, box-sizing definition, etc.
@import "_partials/reset";

//Elements – styling for bare HTML elements (like H1, A, etc.). These come with default styling from the browser so we can redefine them here.
p {
	line-height: 125%;
}

//Objects – class-based selectors which define undecorated design patterns, for example media object known from OOCSS
.header-wrapper {
	max-width: 800px;
	width: 100%;
	padding: 0;
	overflow: hidden;
    margin: 0 auto;
    @include mq(tablet){
		width: 90%;
		padding: 10px 5%;
	}
}
.section-wrapper {
	max-width: 800px;
	width: 90%;
	padding: 60px 5%;
	overflow: hidden;
    margin: 0 auto;
}
section:nth-child(even) {
	background: $yellow;
}
header {
	transition: box-shadow 0.33s linear;
	overflow: hidden;
    position: fixed;
    z-index: 2;
    background: #fff;
    border-bottom: 1px solid $grey;
	text-align: center;
	top: 0;
	padding: 10px 0;
	width: 100%;
	@include mq(tablet){
		padding: 10px 5%;
		width: 90%;
	}
	h1 {
		display: block;
		@include mq(tablet){
			float: left;
			display: inline-block;
		}
		margin: 0;
		img {
			max-width: 250px;
			width: 100%;
			height: auto;
		}
	}
	ul {
		@include mq(tablet){
			float: right;
		}
		margin: 5px auto 0 auto;
		list-style-type: none;
		overflow: hidden;
		li {
			display: inline-block;
			padding: 0 3px;
			@include mq(tablet){
				padding: 0 10px;
			}
		}
	}
}
#hero {
	margin-top: 80px;
	.definition {
		h2 {
			color: $grey;
		}
		text-align: left;
		p {
			line-height: 150%;
			text-align: left;
		}
		ol {
			font-size: 1.15em;
			line-height: 150%;
			text-align: left;
			margin: 0 0 0 20px;
			padding: 0;
			li {
				margin: 0;
				padding: 0 0 20px 0;
			}
		}
	}
}
#services {
	text-align: center;
	h2 {
		margin-bottom: 50px;
	}
	ul {
		list-style-type: none;
		width: 100%;
		overflow: hidden;
		text-align: left;
		li:nth-child(odd) {
			padding-right: 0;
		 	@include mq(tablet){
		 		padding-right: 6%;
		 	}
		}
		li {
			width: 100%;
			display: inline-block;
			float: left;
			text-align: left;
			padding: 0 0 50px 0;
			@include mq(tablet){
		 		width: 47%;
		 	}
			h3 {
				margin: 10px 0 0 0;
				color: $grey;
			}
			img {
				width: 75px;
				height: 75px;
				@include mq(tablet){
			 		width: 100px;
					height: 100px;
			 	}
				float: left;
				padding: 0 20px 0 0;
			}
			p {
				margin: 0;
			}
		}
	}
}
#bio {
	text-align: center;
	.bio-container {
		padding: 20px 0;
		overflow: hidden;
		text-align: center;
		@include mq(tablet){
	 		text-align: left;
	 	}
	 	.bio-container-left {
	 		text-align: center;
	 		display: inline-block;
			width: 100%;
			float: initial;
			@include mq(tablet){
		 		width: 30%;
		 		float: left;
		 	}
			img {
				width: 100%;
				max-width: 150px;
				height: auto;
				border-radius: 100px;
			}
		}
		.bio-container-right {
			display: inline-block;
			width: 100%;
			float: initial;
			@include mq(tablet){
		 		width: 70%;
		 		float: left;
		 	}
			h3 {
				text-align: center;
				color: $grey;
				@include mq(tablet){
			 		text-align: left;
			 	}
			}
			p {
				display: inline-block;
				text-align: left;
				width: 100%;
				line-height: 150%;
			}
			.fa {
				font-size: 32px;
				color: $grey;
			}		 	
		}
	}
}
#nonprofits, #contact, #mission {
	p {
		line-height: 150%;
	}
	ol, ul {
		line-height: 150%;
		text-align: left;
		margin: 0 0 0 20px;
		padding: 0;
		li {
			margin: 0;
			padding: 0 0 20px 0;
		}
	}
}

#footer {
	text-align: center;
	.footer-left {
		text-align: left;
		width: 100%;
		float: left;
		padding: 0 0 20px 0;
		@include mq(tablet){
	 		width: 50%;
	 	}
	 	select, textarea, input {
	 		width: 90%;
	 		max-width: 600px;
	 		min-height: 35px;
	 		border: 1px solid #000;
	 		margin: 0 0 10px 0;
	 		resize: none;
	 		display: block;
	 		float: left;
	 	}
	}
	.footer-right {
		@include mq(tablet){
	 		text-align: left;
	 	}
		width: 100%;
		float: left;
		padding: 0 0 20px 0;
		@include mq(tablet){
	 		width: 50%;
	 	}
	}
	.fa {
		font-size: 32px;
		color: $grey;
	}
}
#quote {
	text-align: center;
	.message {
		width: 100%;
		font-style: italic;
	}
}


//Components – specific UI components. This is where majority of our work takes place and our UI components are often composed of Objects and Components


//Trumps – utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
